:root { 
  --navbar-height: 58px;
  --navbar-color: #FFEECA;
  --bg-color: #542C19;
}

* {
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive;
}

body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar for firefox */
  -ms-overflow-style: none; /* hide scrollbar for microsoft edge */
  background-color: #542C19;
}

/* Hide scrollbars but keep functionality: Chrome, Safari, Opera */
body::-webkit-scrollbar {
  display: none; 
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "navbar"
  "image"
  "generator";
  grid-template-columns: 1fr;
}

.navbar-container {
  z-index: 10;
  grid-area: navbar;
  top: 0;
  position: sticky;
  background-color: var(--bg-color);
}

.image-container {
  display: flex;
  grid-area: image;
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - var(--navbar-height));
  background-color: var(--bg-color);
  position: relative;
  align-items: center;
  justify-content: center;
}

.image-container img{
  display: flex;
  width:60%;
  top:5%;
  height: 130%;
  position:absolute;
  text-align: center;

}

.image-container h1{
  position: absolute;
  top: 30%;
  width:100%;
  text-align: center;
  font-size: 80px;
  color:#FFEECA;
}


.generator-container {
  grid-area: generator;
}
