:root { 
  --navbar-height: 58px;
}

* {
  box-sizing: border-box;
  
  font-family: 'Permanent Marker', cursive;
}

body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; /* hide scrollbar for firefox */
  -ms-overflow-style: none; /* hide scrollbar for microsoft edge */
  background-color: #542C19;
}

/* Hide scrollbars but keep functionality: Chrome, Safari, Opera */
body::-webkit-scrollbar {
  display: none; 
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "navbar"
  "image"
  "generator";
  grid-template-columns: 1fr;
}

.navbar-container {
  z-index: 10;
  grid-area: navbar;
  top: 0;
  position: sticky;
}

.image-container {
  grid-area: image;
  width: 100vw;
  height: 100vh;
  max-height: calc(100vh - var(--navbar-height));
  position: relative;
}

.image-container img{
  width:auto;
  height: 100%;
  position:absolute;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.image-container h1{
  position: absolute;
  top: 50%;
  width:100%;
  text-align: center;
  font-size: 18px;
}

.generator-container {
  grid-area: generator;
}
