* {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;

  }

  .searchBar {
    position: relative;
    display: flex;
    width: 100%;
    width: auto;
    height: 50px;
  }


.search {
    width: 100%;
    height: 50px;
    background: #ffeecad8;
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 16px;
}

.Bar fieldset{
    width: 70vw;
    height: 50px;
}


.Button button{
    width: 3.5rem;
    height: 2.8rem;
    background: none;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.guess-round-{
    display: flex;
    visibility: hidden;
    background-color: #ffeecad8;
    border-radius: 20px;
    width:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}
  