* {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;

  }


  .Bar fieldset{
    background: #ffeecad8;
    border:none;
    height: 50px;
    border-radius: 20px;
    width:50vw;
    
}
  
  .Bar fieldset input{
    border:none;
    background:none;
    outline: none;
    padding-top:4px;
    font-size: 18px;
    width:45vw;
  }
  
  .guess-round-{
    background: #ffeecad8;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    width:50vw;
  }

  .Button button{
    cursor: pointer;
  }
  
